		.info {
			border: 1px solid black;
			display: inline-block;
			margin: 10px;
			padding: 15px;
		}
		.generators {
			width: 100px;
			border: 1px solid black;
			display: inline-block;
			margin: 10px;
		    text-align: center;
    		line-height: 20px;
    		position: relative;
    		cursor: pointer;
    		padding: 0;
		}
		.genAttr {
			width: 100%;
			margin: 0;
			padding: 0;
		}
		.progress {
			background: green; /* For browsers that do not support gradients */
			background: -webkit-linear-gradient(left, lightgreen , green); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(right, lightgreen, green); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(right, lightgreen, green); /* For Firefox 3.6 to 15 */
			background: linear-gradient(to right, lightgreen , green); /* Standard syntax */
			height: 20px;
			width: 0%;
			margin: 0;
			border-radius: 0;
		}

		input[type=button] {
			
			cursor: pointer;
		}

		#farm {
			
		}

		#factory {
			opacity:0;
		}

		#warehouse {
			opacity: 0;
		}

		.progressAnim {
			animation-name: progressBar;
			animation-iteration-count: infinite;
			animation-timing-function: linear;	
		}

		@keyframes progressBar {
			0% {
				width: 0%;
			}
			100% {
				width: 100%;
			}
		}