		html, body {
			user-select: none;
		}

		.shadow {
			box-shadow: 3px 3px 10px  rgba(0,0,0,0.3);
		}

		.info {
			border: 3px solid black;
			display: inline-block;
			padding: 15px;
		}
		.generators {
			border: 3px solid black;
			display: inline-block;
		    text-align: center;
    		line-height: 20px;
    		position: relative;
    		cursor: pointer;
    		padding: 0;
		}

		.genAttr {
			width: 100%;
			margin: 0;
			padding: 0;
		}

		.progress {
			background: green;
			background: -webkit-linear-gradient(left, lightgreen , green);
			background: -o-linear-gradient(right, lightgreen, green);
			background: -moz-linear-gradient(right, lightgreen, green);
			background: linear-gradient(to right, lightgreen , green);
			height: 20px;
			width: 0%;
			margin: 0;
			border-radius: 0 5px 5px 0;
		}

		input[type=button] {
			margin: 0;
			cursor: pointer;
		}

		#factory {
			opacity:0;
		}

		#warehouse {
			opacity: 0;
		}

		.progressAnim {
			animation-name: progressBar;
			animation-iteration-count: infinite;
			animation-timing-function: linear;	
		}

		.highlight {
			background: tan;
			border: 3px solid orangered;
		}

		@keyframes progressBar {
			0% {
				width: 0%;
				
			}

			90% {
				/*border-radius: 0 5px 5px 0;*/
			}
			100% {
				width: 100%;
				/*border-radius: 0;*/
			}
		}